@font-face {
    font-family: "vazir-regular";
    src: url("../fonts/Vazirmatn-Regular.ttf")format("truetype");
}


@font-face {
    font-family: "vazir-light";
    src: url("../fonts/Vazirmatn-Light.ttf")format("truetype");
}